* {
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --flipkart-blue: #2778ec;
    --category-color: #475569;
    --page-background-color: #f1f2f4;
}

html {}

body {
    background-color: var(--page-background-color);
}

.login-icon {
    display: none;
    filter: invert(1);
}

.search-bar-bottom {
    display: none;
}

.page-container {
    margin-inline: auto;
}

header {
    display: flex;
    gap: 2rem;
    background-color: var(--flipkart-blue);
    justify-content: center;
    padding: 1rem 0rem;
}

.logo {
    width: 8rem;
}
.header-actions-container {
    display: flex;
    gap: 2rem;
}

header>div>input {
    margin-right: auto;
    background-image: url('assets/search.png');
    background-size: 1.4em;
    background-repeat: no-repeat;
    background-position: 97% 50%;
    min-width: 16rem;
    max-width: 31rem;
    flex: 1;
    padding: 0.5rem;
    border: solid white 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 0.8rem;
    
}

.login {
    color: var(--flipkart-blue);
    font-weight: bold;
    background-color: white;
    padding: 0.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#more {
    background-color: var(--flipkart-blue);
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1rem;
}

.section-container>div {
    margin-top: 2rem;
}

.header-item-container {
    display: flex;
    width: 65%;
    gap: 1.5rem;
    align-items: center;
}
img {
    width: 2rem;
    height: auto;
}

.cart-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.shopping-cart-icon {
    filter: invert(1);
}

.cart {
    color: white;
    font-weight: bold;
}
nav{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: center;
}

.category-list {
    display: flex;
    gap: 4%;
    justify-content: flex-start;
    padding: 1rem 0rem;
    overflow: auto;
    min-width: 80%;
    max-width: 95%;
}

.category-name {
    text-wrap: balance;
    width: min-content
}

.category-image {
    width: 5rem;
}

.category-name {
    color: var(--category-color);
    font-weight: bold;
}

.section-container {
    max-width: 85%;
    margin-inline: auto;
}

.deals-of-the-day-container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: auto;
}

.ad {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 14rem;
}

.combined-container {
    display: flex;
    gap: 1rem;
}
.deals-slider {
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 2rem 1rem;
    overflow: auto;
}
.product-image {
    width: 10rem;
}

.product-container {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.product-container>div {
    text-align: center;
}

.product-name {
    font-weight: bold;
}

.product-discounts {
    color: green;
}

.product-description {
    color: var(--category-color);
}

.title-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-bottom: var(--page-background-color) solid 3px;
}

.title-and-shop-now {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

time,.promotional-text {
    color: gray;
}
.additional-info {
    margin-right: auto;
    display: flex;
    gap: 1rem;
}

button.view-all-deals {
    color: white;
    background-color: var(--flipkart-blue);
    padding: 0.6rem 1.2rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.discount-category-container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.category-name {
    text-align: center;
}


@media (max-width: 1098px) {
    .cart,.login {
        display: none;
    }

    .login-icon {
        display: block;
    };
}

@media (max-width: 970px) {
    .header-item-container {
        width: 95%;
    }
}

@media (max-width: 648px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .header-item-container {
        justify-content: center;
    }

    .search-bar-bottom {
        display: block;
        border: solid 1px white;
        border-radius: 3px;
        height: 1.5rem;
        background-image: url(assets/search.png);
        background-size: 1.4em;
        background-repeat: no-repeat;
        background-position: 97% 50%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        font-size: 0.8rem;
        width: 80%;
    }

    header>div>input {
        display: none;
    }

    .combined-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 360px) {
    .title-container {
        flex-direction: column;
        align-items: center;
    }

    .additional-info,.title-and-shop-now {
        margin-right: 0px;
    }

    button.view-all-deals {
        align-self: flex-end;
    }
}